mixin head
  head
    meta(charset='utf-8')
    title= pageTitle
    meta(name='keywords' content='[[*seokeywords]]')
    meta(name='description' content='[[*seodescription]]')
    meta(name='HandheldFriendly' content='True')
    meta(name='MobileOptimized' content='320')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    //- meta(name="viewport" content="width=1280")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='imagetoolbar' content='no')
    meta(name='msthemecompatible' content='no')
    meta(name='format-detection' content='telephone=no')
    meta(name='format-detection' content='address=no')
    meta(name='theme-color' content='#ffffff')
    meta(name='apple-mobile-web-app-capable' content='yes')
    
    link(rel='apple-touch-icon' sizes='57x57' href='assets/img/apple/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='assets/img/apple/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='assets/img/apple/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='assets/img/apple/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='assets/img/apple/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='assets/img/apple/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='assets/img/apple/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='assets/img/apple/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='assets/img/apple/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='assets/img/apple/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='assets/img/apple/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='assets/img/apple/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='assets/img/apple/favicon-16x16.png')
    link(rel='manifest' href='assets/img/apple/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='assets/img/apple/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')

    meta(property='og:url' content='[[*template:in=`1`:then=`[[~[[*id]]]]`:else=`[[++site_url]][[~[[*id]]]]`]]')
    meta(property='og:type' content='website')
    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content='[[*seodescription]]')
    meta(property='og:image' content='[[++assets_url]]img/og-img.jpg')

    link(rel='stylesheet' href='assets/css/vendors.css')
    link(rel='stylesheet' href='assets/css/main.css')

mixin scripts
  script(src='assets/js/vendors.js')
  script(src='assets/js/main.js')

mixin toUp
  .toTop
    i.icon-up1 

mixin textInContent
  .xBlock__area.w0
    .xBlock.w1
      .content
        .title
          h1 Заголовок документа
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repellat totam laborum
          | deserunt reiciendis pariatur tempora accusamus repudiandae molestias temporibus.
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, animi?
        h2 Заголовок h2
        h3 Заголовок h3
        h4 Заголовок h4
        h5 Заголовок h5
        h6 Заголовок h6
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at eaque eos error et
          | laborum minus natus necessitatibus veniam voluptatem?
        p
          | Lorem ipsum dolor sit amet,
          a(href='/') consectetur adipisicing elit
          | . Dolorem dolores magni odio possimus, rem
          |                             tempora!
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eaque labore laboriosam
          | libero minima nisi officiis recusandae tempora tenetur voluptatem? Accusamus, aliquid at
          | culpa itaque labore libero nostrum quod repellendus.
        ul
          li Lorem ipsum dolor.
          li Lorem ipsum.
          li
            | Lorem ipsum 
            strong dolor
            |  sit amet.
          li
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ipsa. Lorem ipsum
            | dolor sit amet, consectetur adipisicing elit. Corporis, ipsa. Lorem ipsum dolor sit
            | amet, consectetur adipisicing elit. Corporis, ipsa.
          li Lorem.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores magni odio
          | possimus, rem tempora!
        ol
          li Lorem ipsum dolor.
          li Lorem ipsum.
          li
            | Lorem ipsum 
            strong dolor
            |  sit amet.
          li
            | Lorem ipsum 
            strong dolor
            |  sit amet, consectetur adipisicing elit. Corporis,
            |                                 ipsa.
          li Lorem.
        h3 Таблица с принудительной шириной width="100%"
        table(width='100%')
          tbody
            tr
              td Строка 1 столбец 1
              td
                | Lorem ipsum 
                strong dolor
                |  sit amet.
              td
                ul
                  li
                    | Lorem ipsum
                    strong dolor
                    |  sit amet.
                  li
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ipsa.
                  li Lorem.
            tr
              td Строка 2 столбец 1
              td
                | Строка 2 
                a(href='/') ссылка в таблице
              td Строка 2 столбец 3
            tr
              td
                ol
                  li Lorem ipsum dolor.
                  li Lorem ipsum.
                  li
                    | Lorem ipsum
                    strong dolor
                    |  sit amet.
                  li Lorem.
              td Строка 3 столбец 2
              td Строка 3 столбец 3
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur enim est,
          | eveniet labore molestiae necessitatibus provident, quidem recusandae similique soluta
          | voluptates. Architecto corporis cum dolor dolores eos, esse id iste labore minima nobis
          | quae, quaerat quisquam sed ut voluptatum? Alias eaque eligendi hic in numquam perspiciatis
          | possimus recusandae suscipit.
        blockquote
          | Текст цитаты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus
          | deleniti dolor doloribus eaque molestiae placeat, possimus saepe! Aut corporis cupiditate
          | delectus dolor eum laudantium magnam minus ullam voluptatibus. Architecto.
        h3 Таблица с стилем .clear в свойствах
        table.clear
          tbody
            tr
              td Строка 1 столбец 1
              td Строка 1 столбец 2
              td Строка 1 столбец 3
            tr
              td Строка 2 столбец 1
              td Строка 2 столбец 2
              td Строка 2 столбец 3
            tr
              td Строка 3 столбец 1
              td Строка 3 столбец 2
              td Строка 3 столбец 3
      +gallery
      +videogallery
      

mixin videogallery
  .innerBox
    .title
      h2 Видеогалерея H2
    .videoBox__area
      .videoBox__outer
        .videoBox
          a(data-fancybox='', href='https://www.youtube.com/watch?v=dl16e_mG6hg')
            img(src='https://img.youtube.com/vi/dl16e_mG6hg/sddefault.jpg', alt='')
      .videoBox__outer
        .videoBox
          a(data-fancybox='', href='https://www.youtube.com/watch?v=P5csD0SX8jI')
            img(src='https://img.youtube.com/vi/P5csD0SX8jI/sddefault.jpg', alt='')

mixin gallery
  .innerBox
    .title
      h2 Галерея H2
    .gallery
      .gallery__item
        a(href='assets/img/gal/06.jpg', data-fancybox='group', data-caption='002')
          img(src='assets/img/gal/06.jpg', alt='1')
      .gallery__item
        a(href='assets/img/gal/02.jpg', data-fancybox='group', data-caption='002')
          img(src='assets/img/gal/02.jpg', alt='1')
      .gallery__item
        a(href='assets/img/gal/03.jpg', data-fancybox='group', data-caption='002')
          img(src='assets/img/gal/03.jpg', alt='1')
      .gallery__item
        a(href='assets/img/gal/04.jpg', data-fancybox='group', data-caption='002')
          img(src='assets/img/gal/04.jpg', alt='1')
      .gallery__item
        a(href='assets/img/gal/05.jpg', data-fancybox='group', data-caption='002')
          img(src='assets/img/gal/05.jpg', alt='1')
      .gallery__item
        a(href='assets/img/gal/04.jpg', data-fancybox='group', data-caption='002')
          img(src='assets/img/gal/04.jpg', alt='1')

