mixin header 
  .header__area
    .container
      header.header
        .row.my-3 
          .col-md-3
            .logo1 
              a(href="/")
                img(src="assets/img/logo1.png", alt="") 
            
        