mixin pagiantion
  .pag__area
    .pag__outer
      .pag
        a.pag__item(href="#") 
          i.icon-left-end-arrow
        a.pag__item(href="#")
          i.icon-arr-left1
        a.pag__item(href="#") ...
        a.pag__item(href="#") 7
        a.pag__item.active(href="#") 8
        a.pag__item(href="#") 9
        a.pag__item(href="#") ...
        a.pag__item(href="#")
          i.icon-arr-right1
        a.pag__item(href="#") 
          i.icon-right-end-arrow